<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181814145376-ns6r3doqt49j0ss6gridj6nigk5bccup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181814145376-ns6r3doqt49j0ss6gridj6nigk5bccup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>181814145376-r2hb48ib14tm1ivp8d27pqa69thjc3vo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9xpHGTUq5ODYEOkubUUg_0wyPwZEvNDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>181814145376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seniorYearProject</string>
	<key>PROJECT_ID</key>
	<string>senior-year-project-1dd22</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-year-project-1dd22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181814145376:ios:21990fa42c36744878ae05</string>
</dict>
</plist>